form
    p Page Detail

    dl
        dt Id
        dd: a(href="/page/#{id}")= id

        dt Title
        dd: input(name="title", value=title)

        dt Url
        dd= url

        dt Regions
        dd
            if regions
                ul
                    for region in regions
                        li
                            dl
                                dt Id
                                dd: a(href="/region/#{region.id}")= region.id

                                dt Name
                                dd= region.name

                                dt Content
                                dd
                                    if region.content
                                        ul
                                            for content in region.content
                                                li
                                                    dl
                                                        dt Id
                                                        dd: a(href="/content/#{content.id}")= content.id

                                                        dt Type
                                                        dd= content.type

                                                        dt Content
                                                        dd= JSON.stringify(content.data)

    button(type="submit") Save
